{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ reservation.heureArrive }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reservation.nombreCouverts}}</td>
            </tr>
             <tr>
                <th>Prix</th>
                <td>{{ reservation.allergies }}</td>
            </tr>
        
              <tr>
                <th>Prix</th>
                <td>{{ reservation.client }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>

    {# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
